<div class="container">
    <!-- Content here -->
    <!-- <button type="button" class="btn btn-primary" (click)="sendMsg()">Primary</button> -->

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/onetoone">OneToOne</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/conversation">Conversation</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/apirest">API REST</a>
        </li>
    </ul>

</div>

<router-outlet></router-outlet>