<div id="{{stream.streamId}}" class="embed-responsive embed-responsive-4by3">
    <video #remoteVideo autoplay playsinline></video>
    <div class="mycard-text">
        <h5>{{stream.stream.contact.userData.username}}</h5>
        <!-- <p>{{stream.qosStat | json}}</p> -->
        <app-audio-stats [stats]="stream.qosStat?.audioReceived"></app-audio-stats>
        <app-video-stats [stats]="stream.qosStat?.videoReceived"></app-video-stats>
    </div>
    <div class="mycard-over">
        <pre>
<code>streamId:{{stream.streamId}}</code>
<code>callId:{{stream.callId}}</code>
</pre>
        <mat-icon *ngIf="stream.isSpeaking" matSuffix>record_voice_over</mat-icon>
    </div>
</div>